<head>
  <title>日記アプリケーション</title>
</head>
<body>
  <% @users.each do |user| %>
    <p>
      <a href=<%= "/users/#{user['id']}" %>>
        <div>
          ID: <%= user['id'] %>
          <br>
          Name: <%= user['name'] %>
        </div>
      </a>
    </p>
  <% end %>
</body>

