<head>
  <title>日記アプリケーション</title>
</head>
<body>
  <form action="/posts" method="post">
    <label>タイトル</label>
    <input type="text" name="title">
    <label>本文</label>
    <input type="text" name="body">
    <label>ユーザID</label>
    <input type="number" name="user_id">
    <button type="submit">送信する</button>
  </form>
</body>
